<!doctype html>
<html>
<head>
    <title>Floorplan</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body class="noselect">
<canvas id="myCanvas" height="600" width="900"></canvas>
<canvas id="overlay" height="600" width="900"></canvas>
<div id="roomView" class="hidden"></div>

<img id="backdrop01" src="../backdrop01.png">
<img id="backdrop02" src="../backdrop02.png">
<div id="myMenu">
    <ul>
        <li>
            <a class="btn btn-default btn-md" href="/garage">Garage</a>
        </li>
        <li>
            <a class="btn btn-default btn-md" href="/statTest">Statistics</a>
        </li>
        <li>
            <a class="btn btn-default btn-md" href="#">Lighting</a>
        </li>
        <li>
            <a class="btn btn-default btn-md" href="#">Garden</a>
        </li>
    </ul>
</div>
<a id="signout" class="btn btn-danger btn-md" href="http://onetime1.herokuapp.com/signout">SIGN OUT</a>

<div id="myMobile">
    <button id="mobileMenu" class="btn btn-primary btn-md">...</button>
</div>
<script src="../javascripts/control/popup.js"></script>
<script src="../javascripts/model/myDeviceStates.js"></script>
<script src="../javascripts/model/systemVariables.js"></script>
<script src="../javascripts/control/locationUpdate.js"></script>
<script src="../javascripts/control/setSockets.js"></script>
<script src="../javascripts/control/rooms.js"></script>
<script src="../javascripts/model/myrooms.js"></script>


<script>
    testUpdatedRooms();

    displayRooms();
</script>
<script src="../javascripts/control/menuBuilder.js"></script>
</body>
</html>