<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Charty</title>
</head>
<body>
<h1 id="greeting">Hello</h1>
<!-- load Dojo -->
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
        data-dojo-config="async: true"></script>

<script src="../javascripts/control/buildChart.js"></script>

<div id="chartOne" style="width: 400px; height: 240px;"></div>
</body>
</html>